* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* First Section */
.Main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  font-family: "Inter", system-ui, sans-serif;
  color: #111;
}

.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
}

.first-section svg {
  width: 70px;
  height: 70px;
  color: #111;
}

.my-name {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
}

.my-links {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-top: 10px;
}

.my-links a {
  text-decoration: none;
  font-size: 16px;
  color: #555;
  transition: all 0.2s ease;
}

.my-links a:hover {
  color: #000;
}

.my-links svg {
  width: 22px;
  height: 22px;
}

.divider {
  width: 100%;
  max-width: 700px;
  height: 1px;
  background: #e5e5e5;
  margin: 40px 40px;
}

/* Common */
.section{
  max-width: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 40px;
  align-items: start;
}

.title{
  font-size: 30px;
  font-weight: 50;
}

.description{
  font-size: 16px;
  line-height: 1.7;
  color: #323131;
  text-align: justify;
}

/* Second Section */

/* SKILLS */

.skills-container{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* SKILL CATEGORY */

.skill-category{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-title{
  font-weight: 600;
  margin-right: 6px;
}

/* SKILL BADGES */

.skill-item{
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}